<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baiano Sound</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Amarante&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo-favico.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="sidebar">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Baiano Music Logo"></a>
            </div>
            <nav>
                <a href="/artistas">Artistas</a>
                <a href="/discos">Discos</a>
                <a href="/faixas">Faixas</a>
                <a href="/generos">Gêneros</a>
            </nav>
        </header>

        <main>
            <h1>Bem-vindo ao Baiano Sound</h1>
            <p>Explore artistas, discos, faixas e gêneros musicais.</p>
        </main>
    </div>

</body>
</html>
