* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amarante', sans-serif;
    background-color: #010421;
    color: #FFFF00;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #010535;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar .logo img {
    width: 100px;
    margin-bottom: 30px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sidebar nav a {
    text-decoration: none;
    color: #FFFF00;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
    background-color: #FFFF00;
    color: #010535;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFFF00;
}

.add-track-button {
    background-color: #FFFF00;
    color: #010535;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.add-track-button:hover {
    background-color: #FFD700;
}

.tracks-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.track-item {
    background-color: #010535;
    color: #FFFF00;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.track-item:hover {
    background-color: #011550;
}

.track-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.track-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.edit-track, .delete-track {
    background-color: transparent;
    border: none;
    color: #FFFF00;
    cursor: pointer;
    font-size: 1em;
    transition: color 0.3s ease;
}

.edit-track:hover {
    color: #FFD700;
}

.delete-track:hover {
    color: #FF6347;
}

.disco-button {
    font-family: 'Amarante', sans-serif;
    font-size: 14px;
    background: none;
    color: white;
    border: #FFFF00;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-bottom: 5px;
    border-radius: 5px;
}

.disco-button:hover {
    color: #e7e705;
}

.linked-disco {
    background-color: #010421;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #FFFF00;
}

.linked-disco:hover {
    background-color: #FFFF00;
    color: white;
}

.link-disco {
    background-color: #FFFF00;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.link-disco:hover {
    background-color: #e7e705;
    color: white;
}